<div class="editor-form">
    <table class="layout-table">
        <tr>
            <td class="table-label">
                属性：
            </td>
            <td class="table-input" colspan="3">
                <input type="checkbox" class="input-check" id="form-checkbox-detete">
                <label for="form-checkbox-detete">可删除</label>
                <input type="checkbox" class="input-check" id="form-checkbox-required">
                <label for="form-checkbox-required">必填</label>
            </td>
        </tr>
        <tr>
            <td class="table-label">
                数据编码：
            </td>
            <td class="table-input" colspan="3">
                <input class="input-text" id="form-checkbox-code"></input>
            </td>
        </tr>
        <tr>
            <td class="table-label">
                描述说明：
            </td>
            <td class="table-input" colspan="3">
                <input class="input-text" id="form-checkbox-describe"></input>
            </td>
        </tr>
        <tr>
            <td class="table-label">
                文本：
            </td>
            <td class="table-input" colspan="3">
                <input class="input-text" id="form-checkbox-label"></input>
            </td>
        </tr>
    </table>
</div>