<div class="editor-form">
    <table class="layout-table">
        <tr>
            <td class="table-label" >
                属性：
            </td>
            <td class="table-input" colspan="3">
                <input type="checkbox" class="input-check" id="form-datapicker-detete">
                <label for="form-datapicker-detete">可删除</label>
                <input type="checkbox" class="input-check" id="form-datapicker-required">
                <label for="form-datapicker-required">必填</label>
            </td>
        </tr>
        <tr>
            <td class="table-label">
                格式：
            </td>
            <td class="table-input" colspan="3">
                <select class="input-select" id="form-datapicker-format"></select>
            </td>
        </tr>
        <tr>
            <td class="table-label">
                数据编码：
            </td>
            <td class="table-input" colspan="3">
                <input class="input-text" id="form-datapicker-code"></input>
            </td>
        </tr>
        <tr>
            <td class="table-label">
                描述说明：
            </td>
            <td class="table-input" colspan="3">
                <input class="input-text" id="form-datapicker-describe"></input>
            </td>
        </tr>
    </table>
</div>