<div class="editor-form">
    <table class="layout-table">
        <tr>
            <td class="table-label" >
                属性：
            </td>
            <td class="table-input" colspan="3">
                <input type="checkbox" class="input-check" id="form-radiobox-detete">
                <label for="form-radiobox-detete">可删除</label>
                <input type="checkbox" class="input-check" id="form-radiobox-required">
                <label for="form-radiobox-required">必填</label>
            </td>
        </tr>
        <tr>
            <td class="table-label">
                数据编码：
            </td>
            <td class="table-input" colspan="3">
                <input class="input-text" id="form-radiobox-code"></input>
            </td>
        </tr>
        <tr>
            <td class="table-label">
                描述说明：
            </td>
            <td class="table-input" colspan="3">
                <input class="input-text" id="form-radiobox-describe"></input>
            </td>
        </tr>
        <tr>
            <td class="table-input" colspan="4">
                <button class="input-button" id="form-radiobox-addo">新增选项</button>
                <button class="input-button" id="form-radiobox-deto">删除选项</button>
            </td>
        </tr>
        <tr>
            <td class="table-input" colspan="4">
                <table class="layui-hide" id="form-radiobox-options"></table>
            </td>
        </tr>
    </table>
</div>